@{
    Layout = null;
}
@using ISEE.Resources
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ISEE.Resources.Resource.Error</title>
</head>
<body>
    <hgroup>
        <h1>@ISEE.Resources.Resource.Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>
</body>
</html>
