<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="ISEEEntities" connectionString="metadata=res://*/Repository.ISEEDataModel.csdl|res://*/Repository.ISEEDataModel.ssdl|res://*/Repository.ISEEDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OFFBEAT\OFFBEAT;initial catalog=ISEE;integrated security  =True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ISEEEntities" connectionString="metadata=res://*/Repository.ISEEDataModel.csdl|res://*/Repository.ISEEDataModel.ssdl|res://*/Repository.ISEEDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5018.Smarterasp.net;initial catalog=DB_9E01E5_iSEEnew;persist security info=True;user id=DB_9E01E5_iSEEnew_admin;password=iSEE2015;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="ISEEEntities" connectionString="metadata=res://*/Repository.ISEEDataModel.csdl|res://*/Repository.ISEEDataModel.ssdl|res://*/Repository.ISEEDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL5018.Smarterasp.net;initial catalog=DB_9E01E5_iSEEnew;persist security info=True;user id=DB_9E01E5_iSEEnew_admin;password=iSEE2015;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="ISEEEntities" connectionString="metadata=res://*/Repository.ISEEDataModel.csdl|res://*/Repository.ISEEDataModel.ssdl|res://*/Repository.ISEEDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ougid1g22j.database.windows.net,1433;initial catalog=iSEE;persist security info=True;user id=shabi@ougid1g22j;password=D130462!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
 
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>