@media(max-width:1100px){
		.employee-bar input[type="text"] {
			width: 80%;
		}
}
@media(max-width:1023px){
	.nbtn {
		margin-top: 12px;
	}
	.fl_list  {
		margin-top: 12px;
	}
	.log_heading {
		margin-bottom: 14px;
		margin-top: 10px;
	}
	.second_half_inner{
		height:auto !important
	}
	.first_half{
		height:auto !important
	}
	.rest_half input[type="text"] {
			width: 100%;
			margin-bottom: 10px;
		}
		.change_border2{
			padding-right:0px;
		}
		.lft{
			text-align:left !important
		}
		.modal-dialog {
		margin: 80px 15px 0px;
	}
}
@media(max-width:480px){
	.log_content {
		background-size: 143% auto !important;
		width: 321px;
	}
	.log_box {
		width: 85%;
	}
	.log_heading {
		margin-bottom: 0px;
		margin-top: 52px;
		font-size: 17px;
	}
	.log_fild {
		width: 50%;
		float: left;
	}
}
@media(max-width:800px){
	.statebar table tr  {
		border:0px solid red;
	}
	.statebar table tr td {
			padding: 0px;
			white-space: normal;
			font-size: 12px;
			text-align: left;
			border:0px solid red;
			clear:both;
		}
		.statebar input[type="text"]{
			margin-left:0px;
			float:none;
			width:100%
		}
		.customer_list tr td {
			width: 100% !important;
		}
		.table > tbody > tr:hover {
			background:none !important;
		}
		.table > tbody > tr td:hover {
			background-image: url("../images/table-hover.png");
			background-size: auto 100% !important;
		}
		.no_need{
			display:none !important
		}

}
@media only screen and (max-width: 800px) {
    
    /* Force table to not be like tables anymore */
	.no-more-tables table, 
	.no-more-tables thead, 
	.no-more-tables tbody, 
	.no-more-tables th, 
	.no-more-tables td, 
	.no-more-tables tr { 
		display: block; 
	}
	.no_need{
		display:none !important
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	.no-more-tables thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
 
	.no-more-tables tr { border: 1px solid #ccc; }
 
	.no-more-tables td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50% !important; 
		white-space: normal;
		text-align:left;
	}
	.no,
	.no-more-tables td:before{ 
		/* Now like a table header */
		position: absolute !important;
		/* Top/left values mimic padding */
		top: 6px !important;
		left: 6px !important;
		width: 45% !important; 
		padding-right: 10px !important; 
		white-space: nowrap !important;
		text-align:left !important;
		font-weight: bold !important;
	}
 
	/*
	Label the data
	*/
	.no-more-tables td:before { content: attr(data-title); }

	.drp {
			width: 100%;
			margin-bottom:10px;
			margin-left:0px !important;
		}
		.statebar {
			
			margin-right: 0px;
		}
}

@media(min-width:900px){
	table tr td{
		padding:2px !important
	}
}
@media(min-width:1024px){
	.statebar input[type="text"] {
	   margin-bottom:0px;
	   margin-right:3px;
	   margin-left:3px;
	}
	.modelarea{
		width:350px;
		height:50px
	}
	.t5 select{
		width:80%;
	}
	.mdate {
		min-width: 49px !important;
		padding: 1px;
	}
	.t5{
		width:70%
	}
	.adw{width:12%; padding:10px}
	
	.For_company{
		position:absolute;
		bottom:10px;
		width:96%
	}
	.provide tr td{
		padding-bottom:10px !important;
	}
}
@media(max-width:767px){
	.main_model{
		max-height:380px; overflow:auto;
	}
	.new_flip{
		min-height:920px !important
	}
	.flip {
		height: 500px !important;
		}
}
@media(min-width:1300px){
		.nospace{
				white-space: nowrap;
		}
}
@media(min-width:1100px){
	.adscroll{
		width:282px;
	}
	.type_file{
		min-width:200px;
	}
}
@media(max-width:1124px){
	.addp{
		margin-bottom:10px;
		width: 100%;
	}
}

@media(max-width:1400px){
	/*.main_model{
		height:450px
	}*/
	.c_list{
		height:261px ;
		overflow:auto;
	}
}
.fc-ltr .fc-basic-view .fc-day-number {
    text-align: left !important;
    background:url(../images/btn2.png) center bottom;
	border-bottom:1px solid #333;
	padding: 0px !important;
	font-weight:bold
}
.fc-view table tr td{
	padding:0px !important
}
.bfont{
	font-size:12px
}
.sfonted{
	font-size:0px;
}
.drop_type{
	display:block; margin-bottom:-23px; background:none; z-index:1; position:relative; border:0px solid red !important; padding:2px 5px; width: 70%;
}
.t6 .drp2{
		width:90%; float:right
}
@media(max-width:400px){
	.nbtn {
		margin-top: 0px;
	}
}
/*@media(min-width:1024px){
		.fl{
			padding-right:0px !important;
			float:left;
		}
		.fr{
			padding-left:0px !important;
			float:right;
		}
}*/

@media(max-width:1024px){
	.t5{
		width:100%
	}
	.t1{
		width:100%
	}
	.t2{
		width:100%
	}
}